.i{
  float: left;
  
  }

.t{
  flex-grow: 1;
  float: left;
  border: 2px solid black;
  box-shadow: 5px 5px 5px gray;
}
.ct1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15 px;
}


#l1 {
  color: orange
      }

#l1:visited {
color: red;
      }

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}
header{
    text-align:center;
    background-color:rgb(135, 177, 239);
    color: white;
}

section{
    text-align: center;
    color:rgb(135, 177, 239);
}

footer{
    text-align: center;
    background-color:rgb(135, 177, 239);
    color:rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.container > div {
  width: 23%;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-spacing: 15px;
  margin:5px;
  box-shadow: 5px 5px 5px gray;
  transition: transform 1.5s linear;
}

.container > div:hover{
    transform: rotate(15deg);
    scale:120%;
    background-color: #99c5dd;
}

.g1{
  display: inline;
  border-right: 2px solid white; 
}

.g2{
  display: inline;
  padding: 20px;
  border-left: 2px solid white; 
}

.estrecho{
  display:none;
}

.ancho{
  display:none;
}

@media ( max-width: 319px) {/*Ventanas muy reducidas*/
  img   {
    max-width: 25%;
    height: auto;
  }

  body {
    font-size: 1rem;
  }

  .estrecho{
  display: block;  
  }

}

@media (min-width:320px ) and ( max-width: 480px) {/*Dispositivos móviles*/
  img   {
    max-width: 40%;
    height: auto;
  }

  body {
    font-size: 0.3rem;
  }

  .estrecho{
    display: block;
    }
}

@media (min-width:481px ) and ( max-width: 768px) {/*Ipads, tablets*/
  img   {
    max-width: 50%;
    height: auto;
  }
  body {
    font-size: 1rem;
  }

  .t{
    font-size: 0.5rem;
  }

  .estrecho{
    display: block;  
    }

}

@media (min-width:769px ) and ( max-width: 1024px) {/*Pantallas pequeñas*/
  img   {
    max-width: 75%;
    height: auto;
  }
  body {
    font-size: 1.3rem;
  }


  .t{
    font-size: 1.3rem;
  }

.i picture img{
  border-top-left-radius: 64px 64px;
}

.u picture img{
  max-width: 180px;
  height: auto;
}

  .ancho {
  display: block;  
      }

}

@media (min-width:1025px ) and ( max-width: 1200px) {/*Pantallas grandes*/
  img   {
    max-width: 100%;
    height: auto;
  }
  body {
    font-size: 1.6rem;
  }

  .t{
    font-size: 1.6rem;
  }
  .i picture img{
    border-top-left-radius: 64px 64px;
  }

  .u picture img{
    max-width: 180px;
    height: auto;
  }

  .ancho{
      display: block;
      }

}

@media (min-width:1201px ) {/*Pantallas enormes*/
  img   {
    max-width: 100%;
    height: auto;
  }
  body {
    font-size: 1.8rem;
  }

  .i picture img{
    border-top-left-radius: 64px 64px;
  }

  .u picture img{
    max-width: 180px;
    height: auto;
  }

.t{
  font-size: 1.8rem;
}

  .ancho{
      display: block;
    }

}

